.App {
  text-align: center;
}
.navbar{
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  background-color: aquamarine;
  font-size: 32px;
  font-family:🏸 ;
  margin-top: 5px;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}
.table{
  position: absolute;
 top: 300px;
 background-color: rgb(61, 220, 235);
 color: black;
 font-size: 30px;
 border-collapse: collapse;
 width: 80%;
 text-align: center;
 left: 150px;
}
.Stname{
  position: absolute;
  top:120px;
  left: 190px;
  color: black;
  font-size:40px;
}
.btn1{
  border: 2px solid black;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top:150px;
  margin-left: 220px;
  color: black;
  font-size: larger;
  background-color: rgb(219, 184, 203);
  text-align: center;
}




form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 50vh; 
  width: 50%;
  margin-top: 10px;
  margin-left: 450px;
  justify-items: center;
  background-color: grey;
}


.table1 {
  border-collapse: collapse;
  margin-bottom: 20px; 
}


.table1 td {
  padding: 10px; 
  text-align: right; 
}


input {
  width: 100%; 
  padding: 5px;
  margin: 5px 0; 
}
.btn{
  border: 2px solid black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top:480px;
  margin-left: 220px;
  color: black;
  font-size: larger;
  background-color: rgb(219, 184, 203);
  text-align: center;
  margin-left: 350px;
}
.btn2{
  border: 2px solid black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top:480px;
  margin-left: 220px;
  color: black;
  font-size: larger;
  background-color: rgb(219, 184, 203);
  text-align: center;
  margin-right: 280px;
}





